<!-- <tr>
  <ng-container *ngFor="let header of tabledata.headers">
    <th (click)=" sortColumn(header)">
      <ng-container *ngIf="header.sortable">
        <ng-container *ngIf="sortDirection === 'asc'">
          <i class="bi bi-arrow-down"></i>
        </ng-container>
        <ng-container *ngIf="sortDirection === 'desc'">
          <i class="bi bi-arrow-up"></i>
        </ng-container>
        <ng-container *ngIf="sortDirection !== 'asc' && sortDirection !== 'desc'">
          <i class="bi bi-arrow-down-up"></i>
        </ng-container>
      </ng-container>
      {{ header.text |translate }}
    </th>
  </ng-container>
</tr> -->
<tr>
  <!-- <th>
    <input
      type="checkbox"
      [checked]="allSelected"
      (change)="selectAll()"
    />
  </th> -->
  <ng-container *ngFor="let header of options.headers">
    <th (click)="sortColumn(header)">
      <span *ngIf="header.sortable">
        <i [sortIcon]="isCurrentSortHeader(header) ? sortDirection : 'none'" class="bi"></i>
      </span>
      {{ header.text | translate }}
    </th>
  </ng-container>
</tr>
