 th {
  cursor: pointer;

border-collapse: collapse;
width: 120px;
padding: 15px;
}
 tr th {
  background-color: #198754;
  color: #fff;
}
.table th span {
  margin-left: 5px;
}
th.sorted {
  background-color: #f0f0f0;
}
span i {
  margin: 5px;

}
