<div class="container mt-4 mb-4">
  <button class="btn btn-primary" (click)="toggleLanguage()">
    {{ currentLanguage === "ar" ? " اللغة الإنجليزية" : "Arabic" }}
  </button>

  <table class="table table-striped rounded-3 overflow-hidden" id="Tickets">
    <thead
      mytableheader
      [options]="options"
      [language]="language"
      [data]="data"
      (sendHeader)="handelSortHeader($event)"
    ></thead>
    <tbody
      mytablebody
      [options]="options"
      [Tickets]="tickets"
      (deleteData)="handleDeleteData($event)"
      (saveData)="handleSaveData($event)"
    ></tbody>
  </table>
  <app-pagination
    [options]="options"
    [data]="data"
    (sendData)="handlePaginatedData($event)"
  ></app-pagination>
</div>
