/* .table{
  border-collapse: collapse;
}
.sort-icon {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  cursor: pointer;
}

.sort-icon.asc {
  border-bottom: 5px solid black;
}

.sort-icon.desc {
  border-top: 5px solid black;
} */
.no-data-message {
  font-size: 1.5rem; /* Adjust font size as needed */
  font-weight: bold;
  color: #888; /* You can choose a color that fits your design */
  text-align: center;
  margin: 20px 0;
  background-color: whitesmoke;
  width: -webkit-fill-available; /* Add some margin for spacing */
}
.table thead {
  cursor: pointer;

}
#Tickets thead  tr th {
  background-color: #198754;
  color: #fff;
}
.table th span {
  margin-left: 5px;
}
th.sorted {
  background-color: #f0f0f0;
}
i {
  margin: 5px;
}
