<tr *ngFor="let item of Tickets ;let i = index">
  <ng-container *ngIf="editingRowIndex !== i; else editRow">
  <ng-container *ngFor="let header of options.headers" >
  <ng-container >
    <td *ngIf="header.text !== 'Actions'">
      {{ item[header.text.toLowerCase()] }}
    </td>
    <td *ngIf="header.text === 'Actions'">
      <div class="d-flex gap-2" >
        <ng-container *ngFor="let action of options.actions">
          <button class="btn btn-primary m-1" [disabled]="action.Rule(item)"   (click)="buttonClicked(action.type ,item ,i )" >
            {{ action.label |translate }}
          </button>
        </ng-container>
        <label class="switch m-1">
          <input type="checkbox" [checked]="item.mode" (click)=" ToggleMode(item)">
          <span class="slider round"></span>
        </label>
    </div>
    </td>
  </ng-container>
  </ng-container>
  </ng-container>
  <ng-template #editRow >
    <ng-container  *ngFor="let header of options.headers">
      <td *ngIf="header.text !== 'Actions'">
        <input  type="text" class="form-control"[disabled]="header.text === 'ID'" [(ngModel)]="ticket[header.text.toLowerCase()]" />
      </td>
      <td *ngIf="header.text === 'Actions'">
        <div class="d-flex gap-2">
          <button class="btn btn-sm btn-success" (click)="saveRow(Tickets[i] )">Save</button>
          <button class="btn btn-sm btn-secondary" (click)="cancelEdit(i)">Cancel</button>
        </div>
      </td>
    </ng-container>
  </ng-template>
</tr>

