<tr *ngFor="let item of paginatedData ;let i = index">
  <ng-container *ngFor="let header of tableData.headers" >
  <ng-container >
    <td *ngIf="header.text !== 'Actions'">
      {{ item[header.text.toLowerCase()] }}
    </td>
    <td *ngIf="header.text === 'Actions'">
      <div class="d-flex gap-2" >
      <button class="btn btn-primary m-1"  *ngFor="let action of tableData.actions" (click)="fireEvent(action.type ,item.id)" >
        {{ action.label }}
      </button>
    </div>
    </td>
  </ng-container>
  </ng-container>
  <!-- <ng-template #editRow >
    <ng-container  *ngFor="let header of tableData.headers">
      <td *ngIf="header.text !== 'Actions'">
        <input type="text" class="form-control" [(ngModel)]="tableData[i][header]" />
        {{ item[header.text.toLowerCase()] }}
      </td>
      <td *ngIf="header.text === 'Actions'">
        <div class="d-flex gap-2">
          <button class="btn btn-sm btn-success" (click)="saveRow(i ,item[i])">Save</button>
          <button class="btn btn-sm btn-secondary" (click)="cancelEdit(i)">Cancel</button>
        </div>
      </td>
    </ng-container>
  </ng-template> -->
</tr>

