<div id="container">
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" formControlName="firstName">

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" formControlName="lastName">

    <label for="phoneNumber">Phone Number:</label>
    <input type="text" id="phoneNumber" formControlName="phoneNumber">

    <label for="dateFrom">From Date:</label>
    <input type="date" id="dateFrom" formControlName="dateFrom">

    <label for="dateTo">To Date:</label>
    <input type="date" id="dateTo" formControlName="dateTo" >

    <button type="submit">Search</button>
  </form>
  <app-grid-view
    [options]="options"
    [data]="data"
    [Url]="url"
    [mode]="mode"
  ></app-grid-view>
</div>
